<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-mobile-silence"
        version="0.0.1">

    <name>CDVMobileSilence</name>
    <description>Cordova Mobile Silence Mode Plugin</description>
    <license>Apache-2.0</license>
    <keywords>cordova,phonegap,silence mode,mobile silence</keywords>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/mobileSilence.js" name="mobileSilence">
        <clobbers target="cordova.plugins.mobileSilence"/>
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MobileSilence" >
                <param name="android-package" value="com.cordova.zdmitry.mobilesilence.MobileSilence"/>
            </feature>
        </config-file>

        <!-- Extra permissions -->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

            <!-- uses-permission android:name="android.permission.MODIFY_PHONE_STATE" / -->
            <uses-permission android:name="android.permission.CALL_PHONE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>

        <!-- config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="com.app.cordova.PhoneCallReceiver">
                <intent-filter  android:priority="100" >
                    <action android:name="android.intent.action.PHONE_STATE" />
                </intent-filter>
            </receiver>
        </config-file -->
        
        <source-file src="src/android/MobileSilence.java" target-dir="src/com/cordova/zdmitry/mobilesilence" />
        <source-file src="src/android/PhoneCallReceiver.java" target-dir="src/com/cordova/zdmitry/mobilesilence" />
        <source-file src="src/android/ConnectivityManager.java" target-dir="src/com/cordova/zdmitry/mobilesilence" />
        <source-file src="src/android/ITelephony.aidl" target-dir="src/com/android/internal/telephony" />
    </platform>


</plugin>
